<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="Handshake" value="None"/>
    <add key="Parity" value="None"/>
    <add key="StopBits" value="One"/>
  </appSettings>
</configuration>
